{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <div class="form-div">
      <h1 class="reset">Reset Password</h1>
      <p class="forgotten">
        Forgotten your password? <br>
        Enter your email address below, and we'll send you a password reset email.
      </p>

      <label for="email">Email</label> <br>
      <input class="email" type="email" name="email" placeholder="Enter your email"> <br>
      <button class="reset-btn">Reset my password</button>

      <p class="contact">Please contact us if you have any trouble resetting your password.</p>
    </div>
  </form>
</body>
</html>