{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Link Sent</title>
  <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <div class="form-div">
      <h1 class="reset">Password Reset</h1>
      <p class="forgotten">
        We have sent you an email.<br>
        If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
      </p>
  </form>
</body>
</html>