{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
  {% endif %}

  <form method="POST" action="{% url 'account_signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="second">
      <div class="img-div">
        <img class="logo" src="{% static 'img/logo one.jpeg' %}" alt="logo">
      </div>
      <h1 class="login-h">SIGN UP</h1>
      <p class="details">Pls enter your details below</p>
      {{ form.as_p }}
      <input class="submit" type="submit" value="sign up">
      <p class="donot">Don't have an account yet, click <a href="{% url 'account_login' %}">here</a></> to login</p>
    </div>
  </form>
</body>
</html>