*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  padding-left:100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

form{
  width:50%;
  margin: auto;
}

#id_remember {
  /* Add your styles, such as margin, padding, etc. */
  width: 16px;
  height: 16px;
}

.password-reset-link {
  /* Add your styles, such as color, text-decoration, etc. */
  text-align: right;
}
/* .first{
  background-image: url(../img/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.login-h, .details{
  text-align: center;
  font-size:40px;
  color:rgb(76, 71, 71);
}

.details{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input, select{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:2px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo{
  width:70px;
  height: 70px;
}

.img-div{
  width: 75px;
  height: 75px;
  margin: auto;
}

a{
  text-decoration: none;
}
.forget{
  margin-bottom: 10px;
  text-align: right;
}

.submit{
  color: #fff;
  background-color: #281470;
  height: 40px;
  width: 120px; 
  border: 1px solid #281470;
  text-align: center; 
  margin-top: 10px;
}

textarea{
  width: 100%;
  border: 1px solid #b9b9b9;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.donot{
  text-align: center;
  color: rgb(76, 71, 71);
  font-size: 18px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;/* Two equal columns */
  gap: 10px; /* Adjust the gap between the columns */
}

.password-validation {
  color: #d9534f; /* Set the color to red or your desired color */
  font-size: 8px; /* Set the font size as needed */
  list-style-type: none;
  margin-left: 20px;
}

label{
  display: block;
}

ul{
  list-style-type: none;
}

li{
  color: #d9534f;
  margin-left: 40px;
  font-size: 12px;
}

select{
  margin-bottom: 10px;
}

.date{
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width:600px){
  body{
    padding: 20px;
    background-color: #281470;
    display: flex;
    justify-content:center;
    align-items: center;
    /* height:100vh; */
  }

  form{
    width: 100%;
    margin: 0;
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
  }

  li{
    margin-left: 20px;
  }
}