*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form{
  width: 40%;
  margin: auto;
  margin-top: 150px;
}

body{
  padding: 100px;
}

.btn-evidence{
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  background-color: #281470;
}

.pp{
  color: rgb(76, 71, 71);
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.confirm{
  text-align: center;
  color: rgb(76, 71, 71);
  font-size: 40px;
}


@media only screen and (max-width:600px){
  body{
    padding: 20px;
    background-color: #281470;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;

  }

  .mail{
    width: 100%;
    text-align: justify;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }

  .Verify{
    margin-top: 15px;
  }

  .text{
    margin-bottom: 15px;
  }
}