*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-dash{
  height: 600px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* margin-top: 100px; */
}

.welcome{
  margin-top: 100px;
  height: 100px;
  align-items: middle;
  background-color: #fff;
  border-top: 1px solid #281470;
  /* position:fixed; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
}

.welcome-h{
  font-size: 40px;
  color: #281470;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}

@keyframes typing {
  from{
    width: 0;
  }
}

@keyframes blink {
  50%{
    background-color: transparent;
  }
}

.our-hostel{
  margin-top:40px;
  margin-bottom:40px;
  text-align:center;
  font: size 40px;
  color: #A98259;
  text-transform: uppercase;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom:60px;
  padding-left:100px;
  padding-right: 100px;
}

img{
  height:100%;
  width: 100%;
}

h3{
  color: #281470;
  text-transform: capitalize;
}
.headings{
  color: rgb(76, 71, 71);
  font-size: 18px;
  text-align: justify;
  margin-top: 15px;
}

.our-hos{
  margin-top:40px;
  margin-bottom:40px;
  text-align:center;
  font: size 40px;
  color: #281470;
  text-transform: uppercase
}

@media only screen and (max-width:600px){
  .grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-left:20px;
    padding-right: 20px;
  }

  .welcome-h{
    font-size: 20px;
    margin-top: 35px;
  }

  .hero-dash{
    height: 300px;
  }

  .option4{
    margin-top: 30px;
    display: block;
  }

  .profile-img{
    display: block;
  }

  .our-hos, .our-hostel{
    font-size:20px;
  }
}