*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.mail{
  width: 50%;
  margin: auto;
  padding-top: 120px;
}

.Verify{
  color: rgb(76, 71, 71);
  margin-bottom: 15px;
  text-align: center;
}

.text{
  color: rgb(76, 71, 71);
  font-size: 18px;
  text-align: justify;
  line-height: 25px;
}

body{
  padding: 100px;
  vertical-align: middle;
}

@media only screen and (max-width:600px){
  body{
    padding: 20px;
    background-color: #281470;

  }

  .mail{
    width: 100%;
    text-align: justify;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }

  .Verify{
    margin-top: 15px;
  }

  .text{
    margin-bottom: 15px;
  }
}