*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding-top: 100px;
}

p{
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(76, 71, 71);
  text-align: center;
}

h3{
  color: rgb(76, 71, 71);
  text-transform: capitalize;
  text-align: center;
}
/* Styling for form container */
#paymentForm {
  width: 300px;
  margin: 0 auto;
}

/* Styling for form groups */
.form-group {
  margin-bottom: 20px;
}

/* Styling for labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styling for input fields */
input{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for submit button */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

@media only screen and (max-width:600px){
  body{
    padding-top: 20px;
  }
}