{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bookpass.css' %}">
    <title>Book Exeat</title>
</head>
<body>

<form method="post" action="{% url 'pass' %}">
    {% csrf_token %}

    <div class="img-div">
        <img class="logo" src="{% static 'img/logo one.jpeg' %}" alt="logo">
    </div>
    <h1 class="login-h">BOOK PASS</h1>
    <p class="details">Please fill in the information correctly</p>
    
    <label for="faculty">Faculty:</label>
    <input type="text" name="faculty" value="{{ faculty }}" readonly>
    
    <label for="department">Department:</label>
    <input type="text" name="department" value="{{ department }}" readonly>

    <label for="level">Level:</label>
    <input type="text" name="level" value="{{ level }}" readonly>
    
    <label for="parent_number">Parent Number:</label>
    <input type="tel" name="parent_number" required placeholder="Enter your parent number">
    
    <label for="student_number">Student Number:</label>
    <input type="text" name="student_number" value="{{ student_num }}" readonly>
    
    <label for="departure_date">Departure Date:</label>
    <input type="date" name="departure_date" required>
    
    <label for="return_date">Return Date:</label>
    <input type="date" name="return_date" required>
    
    <label for="reason">Reason:</label>
    <textarea name="reason" required rows="6" col="15" placeholder="Enter the reason for booking pass"></textarea> <br>
    
    <button class="submit" type="submit">Submit</button>
</form>

</body>
</html>
