{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Room</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
  <form method="post" action="{% url 'verify_payment' %}">
    {% csrf_token %}
    {% if messages %}
      {% for message in messages %}
        <p class="error-pp">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <h1 class="confirm">Provide Matric Number</h1>
    <p class="pp">
      Your Matric number is required to verify if you have paid your school fees
    </p>

    <label for="matric_number">Matric Number:</label><br>
    <input type="text" name="matric_number" id="matric_number" placeholder="Enter your matric number" required>
    <button class="btn-evidence" type="submit">Submit</button>
  </form>
</body>
</html>
