{% load static %}

<!-- templates/submit_complaint.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Complaint</title>
    <link rel="stylesheet" href="{% static 'css/bookpass.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">

        <div class="img-div">
            <img class="logo" src="{% static 'img/logo one.jpeg' %}" alt="logo">
          </div>
          <h1 class="login-h">Complaint</h1>
          <p class="details">Pls fill in the informations correctly</p>
        </div>

        {% csrf_token %}
        <label for="title">:</label>
        <input type="text" name="title" required placeholder="Enter the complaint's title">
        
        <label for="text">Hostel</label>
        <input type="text" name="hostel_name" required value="{{hostel}}" disabled>
        
        <label for="block_number">First Name:</label>
        <input type="text" name="first_name" required  value="{{fname}}" disabled>
        
        <label for="block_number">Last Name:</label>
        <input type="text" name="last_name" required value="{{lname}}" disabled>
        
        <label for="block_number">Block Number:</label>
        <input type="text" name="block_number" required value="{{block_num}}" disabled>

        <label for="room_number">Room Number:</label>
        <input type="text" name="room_number" required value="{{room_num}}" disabled>

        <label for="message">Complaint:</label>
        <textarea name="message" rows="6" required placeholder="Enter your complaints in details"></textarea>

        <label for="image">Image:</label>
        <input type="file" name="image" accept="image/*" placeholder="Provide an image to buttress your complaint">

        <button class="submit" type="submit">Submit</button>
    </form>
</body>
</html>
