{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Hostel{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero-div">
     
    </div>
  </section>

  <section id="about-us">
    <div class="about">
      <h1 class="about-h">ABOUT US</h1>
      <p class="about-t">
        Welcome to Adeleke University Hostel, where comfort meets convenience. Nestled within the serene surroundings of Adeleke University campus, our hostel offers a home away from home for students seeking a tranquil and supportive living environment.
        At Adeleke University Hostel, we prioritize the well-being and satisfaction of our residents. Our modern facilities are designed to foster a vibrant community atmosphere while providing essential amenities for a comfortable stay. From spacious and well-equipped rooms to communal areas for socializing and studying, we strive to create an inclusive and enriching living experience for all.
        Our dedicated staff members are committed to ensuring the safety and security of our residents, with 24/7 security surveillance and support services available. Whether you're embarking on your academic journey or looking for a place to call home during your university years, Adeleke University Hostel welcomes you with open arms.
        Join us at Adeleke University Hostel and become part of a vibrant community where friendships are formed, memories are made, and success is nurtured. Experience the essence of university life in an environment that fosters growth, learning, and personal development.
      </p>
    </div>
  </section>

  <section id="hostel-rules">
    <div class="rules">
      <h1 class="rules-h">HOSTEL RULES</h1>
      <p class="about-t">
        Hostels are vibrant spaces that bring together students from 
        diverse backgrounds and experiences. To ensure a comfortable 
        and safe living environment for everyone, it's important to 
        establish clear rules and regulations that promote respect, 
        responsibility, and community spirit.
        These guidelines are not simply restrictions; they are the 
        foundation for a positive and enriching hostel experience. 
        By adhering to them, we can create a space where everyone feels 
        welcome, valued, and supported. Some of the rules are:
      </p>
      <div class=" grid">
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/stealing.jpg' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no stealing</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam! 
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/fighting.avif' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no fighting</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam!
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/bullying.jpg' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no bullying</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam! 
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/protest.jpg' %}" alt="no protesting image">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no protesting</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam! 
            </p>
          </div> 
        </div>
      </div>
    </div>
  </section>
  
  <section id="contact">
    <div class="contact-div">
      <h1 class="contact-h">CONTACT US</h1>
      <p class="pp">
        Please supply all the required informations correctly 
      </p>

      <form method="POST">
        {% csrf_token %}
        <div class="fname-grid">
          <div>
            <label class="namef" for="fname">First Name</label> <br>
            <input class="fname" type="text" name="fname" placeholder="Enter your first name">
          </div>
          <div>
            <label class="namel" for="lname">Last Name</label><br>
            <input class="lname" type="text" name="lname" placeholder="Enter your last name">
          </div>
        </div>
        <label class="lemail" for="email">Email</label> <br>
        <input name="email" class="email" type="text" placeholder="Enter your email"> <br>
        <textarea name="message" id="message" cols="30" rows="15">Enter your message</textarea> <br>
        <input class="submit" type="submit">
      </form>
    </div>
  </section>

{% endblock %}